h1 {
    text-align:center;
    padding: 24px;
}

.botonAgregar {
    display: block;
    margin: auto;
    padding: 24px;
    font-size: 18px;
}

.popup {
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.popup-content{
    height: 250px;
    width: 500px;
    background: #4838da;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.errores {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: red;
}

.close{ 
    position: absolute;
    top: -2px;
    right: -2px;
    border-radius: 12px;
}

.alumnos {
    padding-top: 64px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.alumnos .alumno {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid black;
    padding: 0.5rem;
    margin: 0.5rem;
}

.foto_usuario {
    width: 250px;
    height: 200px;
}

.alumnos .alumno .boton-borrar {
    display: flex;
    align-self: center;
}

.c2 {
    background-color: grey;
}

.profesores {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.profesores .profesor {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid black;
    padding: 1.5rem;
    margin: 0.5rem;
}